Django==4.2.23

# Forms
django-crispy-forms
crispy-bootstrap5

# AI & LLMs
openai>=1.0.0
anthropic==0.49.0
google-genai==1.7.0
typing_extensions==4.12.2
huggingface-hub>=0.24.0

# Documents & OCR
reportlab
pdfplumber
python-docx
pytesseract
Pillow
youtube-transcript-api

# Environment
python-dotenv

# Deployment
whitenoise
gunicorn

# Celery & Redis
celery
redis

# PostgreSQL (REQUIRED FOR RENDER)
psycopg2-binary
dj-database-url

